html{
    background-color: darkgreen;
}
.logo{
    float: left;
}
header{
    background-color: #343a40;
    height: 100px;
    margin-top: -6px;
}
input,label{
    float: none;
    width: 100px;
}
body{
    background:#bd9764c2;
}
#button {
    padding: 0;
    
}
.img1{
    width: 426px;
    height: 500px;
    float: right;
    margin-right: -422px;
    margin-top: 8px;
}

input{
    width: 150px;
    margin-left: 40px;
}
aside{
    float: left;
    padding: 62px;
}
footer{
    background-color: #343a40;
    padding: 0px;
    margin-top: 145px;
    clear: both;
    border: rgb(86, 87, 143);
    border-bottom: outset;
    border-color: darkslategrey;
    border-top: 2px solid black;
    color: white;
}
.error {
    color: red;
    font-size: 8px;
    }
h2{
    margin-left: 0px;
    margin-top: -37px;
}
.sectionB{
    margin-top:0px;
    border: rgb(86, 87, 143);
    padding:10px;
    background:#e6864e;
    text-align: center;
    border: solid;
}