table{
    background-color: white;
    border-collapse: collapse;
    text-align: center;
    margin-top: 65px;

}

th,td{
    border: solid 3px black;
    padding: 75px;
}
thead{
    background-color: #010131;
    border-bottom: solid 10px #fbfdfd;
    color: white;
}

tr:hover td{
    background-color: #369681;
    color: white;

}